@import "../globals/functions";
@import "../globals/colors";

.app {
  display: block;
  padding: rem($containerPadding) 0;

  &_container {
    width: rem($containerWidth);
    max-width: 100%;
    padding: 0 rem($containerPadding);
    margin: 0 auto;

    @media (max-width: 570px) {
      padding: 0 rem(15px);
    }
  }
}
