@import "../globals/functions";
@import "../globals/colors";

.todolist {
  display: block;
  border-radius: rem(5px);
  margin: rem(55px) 0 0;
  //   padding: rem(15px);
  //   box-shadow: 0 0 rem(15px) rgba($black, 0.0065);
  //   background-color: $light;
}
