$baby-powder: #e2e2e2;
$caribbean-current: #0d5c63;
$verdigris: #44a1a0ff;
$tiffany-blue: #78cdd7;
$teal: #247b7b;
$dark: #424242;
$gray: #dcdcdc;
$light: #efefef;
$black: #000000;
$white: #ffffff;
$error: #ca1212;
